body.sign-in {
    background-color: #fff;

}

.container {
    margin-top: 6%;
}

.card.sign-incard {
    background-color: #fff;
    padding: 20px 0px 20px;
    box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, .15);
}

img.sign-inimg {
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;

}

.sign-infor {
    margin: auto;
    max-width: 350px;
}

button.btn1 {
    width: 100%;
    margin: auto;
}

.w {
    text-align: center;
    display: block;
    margin-top: 10px;

}
